---
const pageTitle = "Mi Blog";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{pageTitle}</title>
      </head>
	<body>
        <a href="/">Inicio</a>
        <a href="/about/">Sobre mi</a>
        <a href="/blog">Mi Blog</a>
		<h1>Mi Blog de aprendizaje sobre astro</h1>
        <p>Aqui es donde publicare acerca de mi viaje aprendiendo astro</p>
        <ul>
            <li><a href="/posts/post-1/">Publicacion 1</a></li>
            <li><a href="/posts/post-2/">Publicacion 2</a></li>
            <li><a href="/posts/post-3/">Publicacion 3</a></li>
        </ul>
    </body>
</html>
